﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ContestConductor</a>
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <RadzenPanelMenu Text="Menu" Icon="home">
        <RadzenPanelMenuItem Text="Dashboard" Icon="list" />
        <RadzenPanelMenuItem Text="Contests" Icon="list" Path="/contests" />
        <RadzenPanelMenuItem Text="Account" Icon="account_circle" />
    </RadzenPanelMenu>>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
