﻿@using ContestConductor.Tools
@using ContestConductor.WebUi
@inject IAppService appService

@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager


<div class="top-row px-4 auth">

    @if (items_.Contains(ToolbarItem.Edit))
    {
        <RadzenButton Click=@(args => OnEditButtonClick()) Text="Edit" />
    }
    @if (items_.Contains(ToolbarItem.Login))
    {
        <LoginDisplay />
    }
    @if (items_.Contains(ToolbarItem.About))
    {
        <RadzenButton Click=@(args => navigationManager.NavigateTo("https://docs.microsoft.com/aspnet/")) Text="About" />
    }
    
</div>


@code {
    private EditableContentMode editMode_ = EditableContentMode.Readonly;
    private HashSet<ToolbarItem> items_;
    private List<ToolbarButtonHandler<EditableContentMode>> editButtonHandlers_;

    protected override void OnInitialized()
    {
        items_ = new HashSet<ToolbarItem>()
        {
            ToolbarItem.Login,
            ToolbarItem.About
        };

        editButtonHandlers_ = new List<ToolbarButtonHandler<EditableContentMode>>();
        appService.ToolbarService.EditButtonRequested += EditButtonRequested;


    }

    protected async Task OnEditButtonClick()
    {
        if (editMode_ == EditableContentMode.Readonly)
        {
            editMode_ = EditableContentMode.EditMode;
        }        else
        {
            editMode_ = EditableContentMode.Readonly;
        }

        var tasks = editButtonHandlers_.Select(d => d.FireOnButtonClick());

        await Task.WhenAll(tasks);    }

    private async Task<IToolbarButton<EditableContentMode>> EditButtonRequested()
    {
        var handler = new ToolbarButtonHandler<EditableContentMode>(() => editMode_);
        bool hasChanged;
        lock (this)
        {
            hasChanged = items_.Add(ToolbarItem.Edit);
            editButtonHandlers_.Add(handler);
        }
        if (hasChanged)
        {
            this.StateHasChanged();
        }
        return handler;
    }

    private class ToolbarButtonHandler<T> : IToolbarButton<T>
    {
        private AsyncEventHandler<T> onButtonClick_;
        private readonly Func<T> getstate_;

        public bool IsAvailable => true;

        public event AsyncEventHandler<T> OnButtonClick
        {
            add
            {
                onButtonClick_ += value;
                value(getstate_());
            }
            remove
            {
                onButtonClick_ -= value;
            }
        }

        public Task FireOnButtonClick()
        {
            return onButtonClick_?.Invoke(getstate_()) ?? Task.CompletedTask;
        }

        public ToolbarButtonHandler(Func<T> getstate)
        {
            getstate_ = getstate;
        }
    }

    private enum ToolbarItem
    {
        Login,

        About,

        Edit
    }
}