﻿@page "/contest/{ContestId}"
@using ContestConductor.Data
@using ContestConductor.WebUi

@inject IContestRepository repository
@inject IAppService appService

@if (Contest == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="item-header">
        <span class="item-header-span">@Contest.Title</span>
        <div>Start <span>@Contest.Start</span>, Duration <span>@Contest.Duration</span></div>
        <div>Author <span>@Contest.Author</span></div>
    </div>

    @((MarkupString)@Contest.Details)
}

@code {

    [Parameter]
    public string ContestId { get; set; }

    private EditableContentMode Mode { get; set; }

    private ContestData Contest { get; set; }

    private IToolbarButton<EditableContentMode> editButton { get; set; }

    protected override Task OnInitializedAsync()
    {
        appService.ToolbarService.RequestEditButtonAsync()
        .ContinueWith(result =>
        {
            if (result.IsCompletedSuccessfully)
            {
                editButton = result.Result;
                editButton.OnButtonClick += OnEditButtonClick;
            }
        });

        return Task.CompletedTask;
    }

    protected async override Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        Contest = await repository.GetContestAsync(ContestId);
    }

    private Task OnEditButtonClick(EditableContentMode state)
    {
        if (Mode != state)
        {
            Mode = state;
        }

        return Task.CompletedTask;
    }
}