﻿@page "/contests"
@using ContestConductor.Data

@inject IContestRepository repository
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

@if (contests == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenDataList WrapItems="false" AllowPaging="false" Data="@pagedContests" TItem="ContestShortData">
        <Template Context="contest">
            <RadzenPanel AllowCollapse="true">
                <HeaderTemplate>
                    <div class="item-header">
                        <span class="item-header-span"><a href="" @onclick="@(() => OpenContest(@contest.Id))" @onclick:preventDefault> @contest.Title</a></span>
                        <div>Start <span>@contest.Start</span>, Duration <span>@contest.Duration</span></div>
                        <div>Author <span>@contest.Author</span></div>
                    </div>
                </HeaderTemplate>
                <ChildContent>
                    @((MarkupString)@contest.Details)
                </ChildContent>
            </RadzenPanel>
        </Template>
    </RadzenDataList>
    <RadzenPager Count="@totalCount" PageSize="@pageSize" PageNumbersCount="10" PageChanged="@PageChanged" />
}

@code {
    private ContestShortData[] pagedContests;
    private ContestShortData[] contests;
    private int totalCount;
    private int pageSize = 6;

    protected override async Task OnInitializedAsync()
    {
        contests = await repository.GetContestListAsync().ToArrayAsync();
        totalCount = contests.Length;
        pagedContests = contests.Take(pageSize).ToArray();
    }

    private void PageChanged(PagerEventArgs args)
    {
        pagedContests = contests.Skip(args.Skip).Take(args.Top).ToArray();
    }

    private void OpenContest(string id)
    {
        navigationManager.NavigateTo($"/contest/{id}");
    }
}
